//Variables

$dark-color: #333333;
$light-color: #f4f4f4;
$main-color: #cc8034;
$secondary-color: #ffd2a6;

//media query breakepoints
$breakpoint-phone: 453px;
$breakpoint-tablet: 768px;
$breakpoint-widescreen: 1080px;
